@import "animations.less";

body{
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.visible{
    opacity: 1;
    visibility: hidden;
}

.wrapper{
    max-width: 1470px;
    padding: 0 20px;
    width: 100%;
    margin: auto;
    background-color: #1A1A1A;
}

header{
    height: 74px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 74px;
}

header .svg{
    fill: #333333;
    cursor: pointer;
}

.svg.active,
.svg:hover{
    fill: #03A9F4;
}

.fullscreen{
    fill: #03A9F4;
}

header .wrapper > div{
    display: flex;
}

header span{
    margin-right: 30px;
    font-size: 0.5625rem;
    color: #4F4F4F;
    text-transform: uppercase;
}

header .fullscreen{
    width: 13px;
    height: 13px;
}
header .view-1{
    height: 10px;
    margin-right: 10px;
}
header .view-2{
    height: 10px;
}

.main{
    padding-top: 74px;
}

.main .item{
    position: relative;
}

.main .item img{
    width: 100%;
    vertical-align: bottom;
}

.main .item p{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    font-size: 0.5625rem;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    padding: 27px;
}

.main .item:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 148px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0;
    visibility: hidden;
}

.main .item:hover:after,
.main .item:hover p{
    opacity: 1;
    visibility: visible;
}

.svg{
    cursor:pointer;
}

footer{
    font-family:Roboto;
    width:100%;
    height:70px;
    line-height:18px;
    padding: 5px;
    background-color: #131313;
    color:#606060;
    position:fixed;
    bottom:0;
}

.wrapper-footer:extend(.wrapper){
    background-color: #131313;
    height:100%;
    @media (max-width : 480px){
        padding:0;
    }
}


.footer-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:100%;
}

.name-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:190px;
    & > div{
        font-size: 15px;
        width:145px; 
    }
}

.hovered{
    color:white;
}

.footer-text{
    font-size:12px;
    &:hover{
        color:white;
        cursor:pointer;
    }
}

.contact-button{
    background: none;
    outline:none;
    cursor:pointer;
    color:#606060;
    border:1px #606060 solid;
    font-size:12px;
    padding:8px 25px;
    border-radius:15px;
    &:hover{
        color:white;
        border-color:white;
    }
    @media (max-width : 580px){
        display:none;
    }
}

.social-icons{
    width:105px;
    display:flex;
    justify-content:space-between;
    @media (max-width : 480px){
        width:80px;
    }
}

.svg-social{
    fill: #606060;
    cursor:pointer;
    &:hover{
        fill:white;
    }
}

.email{
    @media (max-width : 800px){
        display:none;
    }
}

.about-container{
    width:450px;
    height:auto;
    margin:auto;
    margin-top:200px;
    font-family: Roboto;
    color:#DBDBDB;
    & > p{
        line-height:normal;
        font-size:12px;
    }
    @media (max-width : 500px){
        width:310px;
    }
}