
.tile{
	width: ~"calc(100%/3 - 13.3333px)";
	height:350px;
	min-width:350px;
	border-bottom: 25px solid transparent;
	div{
		overflow:hidden;
		width:100%;
		height:100%;
		display:flex;
		justify-content: space-between;
	}
	p{
		position:relative;
		bottom:-5px;
		color:@gray;
		font-size:0.6875rem;
	}
	img{
		height:100%;
	}
}

.tile-container{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	padding:0;
}

.tile-stuff{
	width:100%;
	padding: 0 0 0 10px;
	font-size:0.6875rem;
	justify-content: space-around;
	color:@gray;
	text-transform: uppercase;
}
.turn-phone{
		color:#828282;
		font-size:0.6875rem;
		text-transform:uppercase;
		margin:auto;
		@media (min-width: 768px){
			display:none !important;
		}
}

.slider-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:120px;
	font-size:0.5625rem;
	& > div{
		display:flex;
		align-items: center;
		cursor:pointer;
		&:hover{
			color:white;
		}
	}
	svg{
		border-width:0 5px;
		border-style: solid;
		border-color: transparent;
		box-sizing:content-box;
	}
}

