.tile{
	width:33%;
	overflow:hidden;
	height:350px;
	min-width:350px;
	border-color:transparent;
	border-style: solid;
	border-width:15px;
	& > p{
		position:relative;
		bottom:280px;
		color:#4F4F4F;
		margin-left:10px;
	}

}

.tileContainer{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}