
.tile{
	width:33.33%;
	overflow:hidden;
	height:350px;
	min-width:350px;
	border-right: 20px solid transparent;
	border-bottom: 25px solid transparent;
	& > p{
		position:relative;
		bottom:280px;
		color:#4F4F4F;
		margin-left:10px;
	}

}

.tile-container{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	padding:0;
}